cms/src/main/resources/cms.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://example.com/cms"
            xmlns="http://example.com/cms"
            elementFormDefault="qualified">

    <xsd:element name="GetOrderStatusRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="orderId" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetOrderStatusResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="status" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
